.background {
  viewport-fill: black;
}

.mainColor {
  fill: #770000;
}

.mainGradient {
  fill: #ff4747;
  x: 10;
  y: 5;
  width: 100;
  height: 2;
}

.overlayRect {
  fill: #444444;
  x: 10;
  y: 5;
  width: 100;
  height: 2;
}

.valueDisplay{
  font-size: 25;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #f8fcf8;
}

.goalDisplay {
  font-size: 25;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 85;
  y: 35;
  fill: #808080;
  opacity: 0;
}

#myHour {
  font-size: 100;
  font-family: System-Light;
  text-length: 80;
  text-anchor: start;
  x: 12;
  y: 115;
  fill: #f8fcf8;
}

#myBattery {
  font-size: 22;
  font-family: System-Light;
  text-length: 80;
  text-anchor: end;
  x: 190;
  y: 48;
  fill: #f8fcf8;
  display: none;
}


#myMinute {
  font-size: 100;
  font-family: System-Light;
  text-length: 80;
  text-anchor: start;
  x: 12;
  y: 195;
  fill: #bb0000;
}

#mySecond {
  font-size: 35;
  font-family: System-Light;
  text-length: 80;
  text-anchor: start;
  x: 125;
  y: 150;
  fill: #bb0000;
}


#myDate {
  font-size: 25;
  font-family: System-Regular;
  text-length: 40;
  text-anchor: start;
  x: 12;
  y: 235;
  fill: #808080;
}

#myDay {
  font-size: 25;
  font-family: System-Regular;
  text-length: 40;
  text-anchor: start;
  x: 12;
  y: 25;
  fill: #808080;
}


#mySteps {
  opacity: 1;
}

#myStairs {
  opacity: 1;
}


#myCals {
  opacity: 1;
}

#myMins {
  opacity: 1;
}

#myDist {
  opacity: 1;
}


#myHR {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 50;
  y: 35;
  fill: #f8fcf8;
}

#myRestHR {
  font-size: 24;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 50;
  y: 50;
  fill: #f8fcf8;
  opacity: 0;
}

#leftSide {
  opacity: 1;
}

#stepsBeam {
  opacity: 1;
}
#calsBeam {
  opacity: 1;
}
#stairsBeam {
  opacity: 1;
}
#activeBeam {
  opacity: 1;
}
#stepGradient {
  opacity: 0.7;
}
#calGradient {
  opacity: 1;
}
#stairGradient {
  opacity: 0.7;
}
#activeGradient {
  opacity: 1;
}
